Thumbs.db
*~
*.aux
*.bbl
*.blg
*.dcf
*.gcda
*.gcno
*.httr-oauth
*.log
*.nav
*.out
*.o
*.snm
*.Rout
*.so
*.synctex.gz
*.toc
*.vrb
docs
.DS_Store
.nfs*
.Rapp.history
.RData
.Rhistory
.Rproj*
.Rproj.user
inst/doc
pkgdown
Rbuildignore/*.pdf
Rbuildignore/local/
README.html
vignettes/*.html
vignettes/*.md
vignettes/*_files
